*     {
    margin: 0px; padding: 0;
    text-align:center;
    
  }
  a{text-decoration: none;}
  
  .wrapper{
     margin-left: 400px;
     width: 500px;
     height: 600px;
     background:rgb(197, 196, 193);
     border-radius: 20px;
  }
  
.table{
    width: 500px;
     height: 500px;
}